<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Products</title>
</head>

<body>

<h2>Products Admin Page</h2>

<a href="/products/add">Add Product</a>

<ol>
<% products.forEach(product => { %>

<li>

<h3><%= product.name %></h3>

<p><%= product.desc %></p>

<p>₹ <%= product.price %></p>

<img src="<%= product.imageUrl %>" width="150">

<br><br>

<a href="/products/<%= product._id %>/edit">Edit</a> -
<a href="/products/<%= product._id %>/delete">Delete</a>

</li>

<br>

<% }) %>
</ol>

</body>
</html>